.card{
    border: none !important; 
    border-radius: 0ch !important;
}
.cardDiv{
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.cardBody{
    text-align: left;
}
.card-img-overlay{
    padding: 0rem !important;
    padding-top: 1rem !important;
}
.CardTitle{
    font-weight: 900; 
    text-align: left;
    color:#F9A535;
    font:bold 20px/18px Arial;
    font-size:30px;
    line-height:35px;
    background-color: white;
    border: none;
}
.CardText{
    text-align: left;
    color:#000000;
    font: normal normal normal 17px/26px Arial;
    font-size:17px;
    border: none;
    margin-right:5rem;
}
.sign{
    transform:rotate(-45deg);-webkit-transform: rotate(-45deg); 
     border: solid white;
     border-width: 0 3px 3px 0;
     display: inline-block; 
     padding: 3px;
}
.buttonsDiv{
    padding-top: 1rem;
}
.continueButton{
    border: none;
    color: white;
    background:#9DC74D !important;
    padding: 15px 32px;
    width:100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19pt;
    margin: 4px 2px;
    cursor: pointer;
    font-style: Visby Round CF;
    font-weight: bold;
}
.callMeBackButton{
    border: none;
    color: white;
    background:#F9A535 !important;
    padding: 15px 32px;
    width:100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}